-if @group.present?
  .main
    .main__top
      .group-items
        .group-items__contents
          .group-items__contents--group
            = @group.name
          .group-items__contents--member
            Member:
            - @group.users.each do |g|
              = g.name
        .group-items__edit
          = link_to edit_group_path(@group) do
            = "Edit"

    .main__middle
      = render @messages

    .main__bottom
      = form_for [@group, @message] , html: { class: "new-message" } do |f|
        .new-message__field
          = f.text_field :content, class: 'new-message__field--text', placeholder: 'type a message'          
          = f.label :image, class: 'new-message__field--image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'new-message__btn'