.main-chat
  .main-chat__group--info
    .group-items
      .group-items__text
        .group-items__text--group
          test
        .group-items__group--member
          %ul
            Member:
          %li
            masa
          %li
            haru
      .group-items__btn
        = link_to "Edit", "#"

  .main-chat__message--list
    .main-items
      .main-items__title
        .main-items__title--name
          = message.user.name
        .main-items__title--time
          = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .main-items__body
      - if message.content.present?
        %p.main-items__body--message
          = message.content
      = image_tag message.image.url, class: 'main-items__body--image' if message.image.present?

    .new-message
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'new-message__text', placeholder: 'type a message'
        .new-message__file
          = f.label :image, class: 'new-message__file__picture' do
            = icon('fas', 'image', class: 'new-message__file__picture--icon')
            = f.file_field :image, class: 'new-message__file__picture--hidden'
        = f.submit 'Send', class: 'new-message__send'