.side
  .side__top
    .top-items
      .top-items__text
        = current_user.name
      .top-items__icons
        .top-items__icons__btn
        = link_to new_group_path do
          = icon('fas', 'edit', class: "top-items__icons__btn--new")
        = link_to edit_user_path(current_user.id) do
          = icon('fas', 'cog', class: "top-items__icons__btn--edit")

  .side__middle
    .side-items__group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .side-items__group--name
            = group.name
          .side-items__group--message
            = group.show_last_message